<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/MedInsightHubLogoRedbg.png" alt="MedInsightHub Logo" class="logo">
    </a>
    <span class="navbar-text mx-auto order-0">
      <h1>MedInsightHub</h1>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discussions">Discussions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analyses">Analyses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil">Profil</a>
        </li>
      </ul>
    </div>
  </nav>
  