<!-- edit-profile.component.html -->
<div class="edit-profile-container">
    <h2>Edit Profile</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" [(ngModel)]="user.firstname" name="firstname" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" [(ngModel)]="user.lastname" name="lastname" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea id="bio" [(ngModel)]="user.bio" name="bio" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
    <label for="profilePic">Profile Picture</label>
    <input type="file" id="profilePic" (change)="onFileSelected($event)" name="profilePic" class="form-control">
  </div>

  <div *ngIf="user.user_type === UserType.Doctor">
    <div class="form-group">
      <label for="speciality">Speciality</label>
      <input type="text" id="speciality" [(ngModel)]="user.doctor_specialty" name="speciality" class="form-control">
    </div>
    <div class="form-group">
      <label for="yearsOfExperience">Years of Experience</label>
      <input type="number" id="yearsOfExperience" [(ngModel)]="user.doctor_years_of_experience" name="yearsOfExperience" class="form-control">
    </div>
  </div>

  <div *ngIf="user.user_type === UserType.Patient">
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" id="dateOfBirth" [(ngModel)]="user.patient_date_of_birth" name="dateOfBirth" class="form-control">
    </div>
  </div>
      <!-- Add other fields as necessary -->
      <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
  </div>
  