
<div class="customer-table">
    <div class="table-header">
      <h1>Customers</h1>
      <button>Add New Customer</button>
    </div>
    <input type="text" id="search-box" placeholder="Search within table">
    <table>
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email Address</th>
          <th>Address</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <!-- Repeat for each row -->
        <tr *ngFor="let customer of customerList">
          <td>{{customer._id}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.emailAddress}}</td>
          <td>{{customer.dob}}</td>
          <td>{{customer.department}}</td>
        </tr>
        <!-- Other rows go here -->
      </tbody>
    </table>
    <div class="pagination">
      Showing 1 to 10 of 12 rows
      <!-- Pagination controls -->
    </div>
  </div>
  
  