/* page-not-found.component.css */
.page-not-found-container {
    text-align: center;
    padding: 50px;
    max-width: 600px;
    margin: 100px auto;
  }
  
  .page-not-found-container h1 {
    font-size: 5em;
    color: #d9534f;
  }
  
  .page-not-found-container p {
    font-size: 1.2em;
    margin: 20px 0;
    color: #5d5d5d;
  }
  
  .page-not-found-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .page-not-found-container button:hover {
    background-color: #4cae4c;
  }
  