<!-- sidebar.component.html -->
<div class="sidebar" *ngIf="!sidebarVisible">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/customers" routerLinkActive="active">Users</a>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/profil" routerLinkActive="active">Profile</a>
        <!-- Autres liens si nécessaire -->
    </nav>
</div>
