<!-- sidebar.component.html -->
<div class="sidebar" *ngIf="!sidebarVisible">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/my-connections" routerLinkActive="active">Connections</a>
        <a routerLink="/messages" routerLinkActive="active">Messages</a>
        <a routerLink="/demandes" routerLinkActive="active">Demandes</a>
        <a routerLink="/notifications" routerLinkActive="active">Notifications</a>
        <a routerLink="/profil" routerLinkActive="active">Profile</a>
        <!-- Autres liens si nécessaire -->
    </nav>
</div>
