<!-- messages.component.html -->
<div class="messages-header">
  <h2 class="messages-title">Messages</h2>
  <button class="btn btn-new-message" routerLink="/new-message">New Message</button>
</div>
<div>
      <div *ngFor="let message of messages" class="message-card" [routerLink]="['/conversation', message.message_id]">
      <div class="message-header">
        From: <strong>{{ message.user_sender.username }}</strong>
      </div>
      <div class="message-body">{{ message.text_message }}</div>
      <div class="message-footer">Sent: {{ message.date_sent | date:'short' }}</div>
    </div>
  </div>
  