/* Reset margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the sidebar */
.sidebar {
  width: 250px;
  background-color: #4CAF50;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 2;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  position: relative;
  top: 70px;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background-color: #1A535C;
  color: #ffffff;
}

/* Main content should start after the sidebar */
.main-content {
  margin-left: 250px;
  padding: 1rem;
}

/* Ensure router-outlet doesn't create unwanted margin */
router-outlet > * {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Footer */
.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: calc(100% - 250px); /* Adjust footer width to account for sidebar */
  margin-left: 250px;
  position: fixed;
}

/* Fix for the horizontal scrollbar */
html, body {
  overflow-x: hidden;
}

/* Additional global styles */
body {
  padding-top: 70px; /* Space for the fixed navbar */
}

/* Styles for navbar */
.navbar {
  background-color: #4CAF50;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  color: #ffffff;
  font-size: x-large;
}

.navbar-logo {
  position: absolute;
  right: 1rem;
}

.logo {
  height: 50px;
  width: auto;
}

/* Content styles */
.content {
  flex-grow: 1;
  background: #fff; /* Assuming a white background for the content */
}
/* Add this to your global styles.css or similar */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
