<div class="header-container">
<h2 class="card-title">Home Page</h2>
<button class="btn btn-secondary" [routerLink]="'/my-posts'">My Posts</button>
<button class="btn btn-primary" [routerLink]="'/create-post'">Create Post</button>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="posts">
            <div *ngFor="let post of posts" class="card mb-3" [routerLink]="['/post-details', post.post_id]">
              <div class="card-body">
                <h3 class="card-title" style="width: 90%;">{{ post.title }} <span class="post-type">{{ post.post_type }}</span>
                  <span class="post-status">{{ post.post_status }}</span>
                </h3>
                <p class="card-text">Author: Dr. {{ post.doctor_firstname }} {{ post.doctor_lastname }}</p>
                <p class="card-text">Posted on: {{ post.date_posted | date:'medium' }}</p>
                <div class="post-stats">
                  <span class="card-text" [ngClass]="{'viewed':post.viewed}">Views: {{ post.views_count }}</span>
                  <span class="card-text" [ngClass]="{'liked':post.liked}">Likes: {{ post.likes_count }}</span>
                  <span class="card-text">Comments: {{ post.comments_count }}</span>
                </div>
                <div class="post-tags mt-3">
                  <span class="tag badge bg-info" *ngFor="let tag of post.tags">{{ tag }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
